@font-face {
    font-family: Noto Sans;
    src: url('@/assets/fonts/NotoSans.ttf');
}

@font-face {
    font-family: Bad Script;
    src: url('@/assets/fonts/BadScript-Regular.ttf');
}

@font-face {
    font-family: Averia Serif Libre;
    src: url('@/assets/fonts/AveriaSerifLibre-Regular.ttf');
}