html{
    overflow: auto;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#app {
    background: #000;
    flex: 1;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Noto Sans;
    font-size: 14px;
}

ol, ul{
    padding: 0;
    margin-bottom: 0;
}

button{
    border: 0;
    background-color: transparent;
    line-height: 1 !important;
    outline: none;
}

.link-white{
    text-decoration: none;
    transition: 200ms all linear;
    &:not(:hover){color: #fff};
}

.header {
    max-height: 100px;
    z-index: 10;
    background: var(--black_to_transparent);
}

.footer{
    z-index: 10;
    position: sticky;
    bottom: 0;
    width: 100%;
    line-height: 0;
    max-height: 152px;
    background: var(--transparent_to_black);
}

.main {
    flex: 1;
    // min-height: calc(90vh - 152px);
    // overflow: hidden;
}

.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.para-ellipsis{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.text-yellow{
    color: var(--yellow)
}

@for $i from 2 through 20 {
    .ellipsis-#{$i}{
        -webkit-line-clamp: #{$i};
    }
}