#app {
    background: #000;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Noto Sans;
    font-size: 14px;
}

button{
    border: 0;
    background-color: transparent;
    line-height: 1 !important;
    outline: none;
}

.link-white{
    text-decoration: none;
    transition: 200ms all linear;
    &:not(:hover){color: #fff};
}

.header {
    max-height: 10vh;
    z-index: 10;
}

.footer{
    z-index: 10;
}

.main {
    min-height: 90vh;
}

.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.para-ellipsis{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.ellipsis-2{
    -webkit-line-clamp: 2;
}

.ellipsis-3{
    -webkit-line-clamp: 3;
}

.ellipsis-4{
    -webkit-line-clamp: 4;
}

.ellipsis-5{
    -webkit-line-clamp: 5;
}

.ellipsis-6{
    -webkit-line-clamp: 6;
}

.ellipsis-7{
    -webkit-line-clamp: 7;
}